
* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 16px;
    padding: 2px 1px;
    transition: all 0.2s ease;
}

window {
    background-color: rgba(28, 28, 28, 0.70);
}
